<% a = 0 %>
<%# Gros cheateage on affiche que les items uniques du panier %>
<%# En plus on supprime pas les duplicates de la db, juste on ne les affiche pas haha %>
<% @cart.items.uniq.each do |item| %>
<li>
  <%= item.title %><br>
  <%= item.description %><br>
  $<%= item.price %>
  <% a += item.price %>
  <%= link_to  "Supprimer l'article", mon_panier_delete_path(id: @cart.id,item: item.id), method: :delete %>
</li>

<% end %>
Total : $<%= a %>
<!--
<%= form_for @order, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Paiement"
          data-amount="<%= @order.total_price *100 %>"
          data-locale="auto"></script>
<% end %> -->
